<!DOCTYPE html>
<html lang="en" class="flex w-full h-full ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Gear Stock{{end}}</title>
    <script src="/public/lib/htmx.min.js"></script>
    <script src="/public/lib/alpine.min.js"></script>
    <script src="/public/lib/tailwind.min.js"></script>
    <link href="/public/lib/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/public/lib/fontawesome/css/brands.min.css" rel="stylesheet" />
    <link href="/public/lib/fontawesome/css/solid.min.css" rel="stylesheet" />
    <link href="/public/css/styles.css" rel="stylesheet" />
</head>

<body class="w-full min-h-full dark:bg-gray-900">
    {{template "snackbar"}}
    {{block "content" .}}{{end}}
    {{block "footer" .}}
    {{end}}
</body>

</html>